.idea
example/
tests/
coverage/
src/
.DS_Store
.npmignore
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc.json
.release-please-manifest.json
release-please-config.json
tsconfig.json
tsconfig.lib.json
tsconfig.test.json
node_modules/
npm-debug.log
jest.config.js
.git*
